body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #04a96d;
    color: white;
}

tr:nth-child(even) {
    background-color: #d8d8d8;
}