body {
    background-color: #ffff00; 
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
 
  .flex-container {
    display: flex;
    max-width: 800px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  }

  .vertical-navbar {
    background-color: #ffff00; 
    text-align: center;
    padding: 20px 0; 
    position: relative;
    width: 120px; 
  }
  
  .vertical-navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .vertical-navbar li {
    margin-bottom: 0; 
  }
  
  .vertical-navbar a {
    text-decoration: none; 
    color: #000000; 
    display: block; 
    width: 100%; 
    padding: 10px 0;
    border-right: 4px solid #000000; 
  }
  
 
  .vertical-navbar a:hover {
    background-color: #bb9d07;
    color: #ffffff; 
  }
  li {
    background: white;
    margin: 10px;
  }
  .content {
    flex: 1;
    padding: 20px;
    height: 100vh; 
    color: purple;
  }
  /* Footer styling */
  .footer {
    text-align: center;
    border-top: 2px solid #000; 
    padding: 10px;
  }
  